In [36]:
i=0
while i<10:
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [37]:
i=0
while i<10:
    print(i)
    if i==5:
        break 
    i=i+1
print()

0
1
2
3
4
5

In [38]:
j=0
while j<10:
    print(i)
    j=j+1
    if j==5:
        continue
    print(j)

5
1
5
2
5
3
5
4
5
5
6
5
7
5
8
5
9
5
10

In [39]:
for x in 'UNIVERSITY':
    print(x)

U
N
I
V
E
R
S
I
T
Y

In [40]:
for x in range(5):
    print(x)

0
1
2
3
4

In [41]:
for x in range(2,9):
    print(x)

2
3
4
5
6
7
8

In [42]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [43]:
list = ['banana', 'apple', 'orange']
print(list)

['banana', 'apple', 'orange']

In [44]:
print(type(list))
for x in list:
    print(x)

<class 'list'>
banana
apple
orange